@import 'bootstrap/dist/css/bootstrap.min.css';

.login-container {
    display: flex;
    justify-content: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 540px;
    height: 760px;
    border-radius: 5px;
    position: absolute;
    top: 80px;
    border: 1px solid #E6E6E8;
}

.logo-div {
    text-align: center;
    position: relative;
    top: 50px;
}

.paru-chat-text {
    font-size: 25px;
    color: #5D78FC;
    position: relative;
    bottom: 10px;
    right: 3px;
}

.input-div {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
  bottom: 110px; 
}

.email-input, .pw-input {
    width: 450px;
    height: 70px;
    font-size: 16px;
    margin-top: 60px;
    border: 0;
    background: #fff;
    border: 1px solid #E6E6E8;
    outline: 0;
    padding-left: 10px;
    border-radius: 5px;
}

.email-input:focus, .pw-input:focus {
    border: 2px solid #4285F4;
}

 .login-btn {
    margin: auto;
    width: 250px;
    height: 55px;
    position: relative;
    top: 120px;
    font-size: 16px;
    color: #fff;
    background: #4285F4;
    border: 0;
    border-radius: 5px;
    outline: 0; 
    cursor: pointer;
 }

 .sign-text {
    position: relative;
    font-size: 15px;
    text-align: center;
    top: 230px;
    cursor: pointer;
 }

 .sign-text:hover {
    color: #4285F4;
 }