.AddChatModal2 {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modal-body2 {
    position: absolute;
    width: 470px;
    height: 720px;
    padding: 40px;
    border-radius: 5px;
    background: white;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
}

.closeBtn2 {
    position: absolute;
    top: 10px;
    right: 10px;
    border: 0;
    color: black;
    background: transparent;
    font-size: 25px;
    cursor: pointer;
}

.closeBtn2:hover {
    color: #4285F4;
}

.addChat-text2 {
    font-weight: medium;
    font-size: 23px;
    text-align: center;
}

.chat-item-div2 {
    display: flex;
    flex-direction: column;
    margin: 35px auto;
    position: absolute;
    left: 0;
    right: 0;
}

.chat-item-div2 span {
    font-size: 15px;
    position: relative;
    left: 16px;
}

.IoMdAddCircleOutline {
    position: absolute;
    font-size: 20px;
    right: 50px;
    top: 22px;
    cursor: pointer;
}

.chat-room_user-invite {
    border: 1px solid #E6E6E8;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 15px;
    width: 440px;
    height: 55px;
    margin: 5px auto
}

.chat-room_user-invite:focus {
    border: 2px solid #4285F4;
}

.chat-room_user-div {
    width: 440px;
    height: 390px;
    background: #fff;
    border: 1px solid #E6E6E8;
    border-radius: 5px;
    margin: 20px auto;
}

.chat-room-finish-btn {
    background: #4285F4;
    width: 200px;
    height: 40px;
    border: 0;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    margin: 23px auto;
    position: relative;
    bottom: 15px;
    cursor: pointer;
}