.AddChatModal-container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
  }

.modal-body {
    position: absolute;
    width: 470px;
    height: 700px;
    padding: 40px;
    border-radius: 5px;
    background: white;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
}

.closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: 0;
    color: black;
    background: transparent;
    font-size: 25px;
    cursor: pointer;
}

.closeBtn:hover {
    color: #4285F4;
}

.addChat-text {
    font-weight: medium;
    font-size: 23px;
    text-align: center;
}

.chat-item-div {
    display: flex;
    flex-direction: column;
    margin: 35px auto;
    position: absolute;
    left: 0;
    right: 0;
}

.chat-item-div span {
    font-size: 15px;
    position: relative;
    left: 16px;
}

.chat-room_name {
    border: 1px solid #E6E6E8;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 15px;
    width: 440px;
    height: 55px;
    margin: 5px auto;
}

.chat-room_name:focus {
    border: 2px solid #4285F4;
}

.chat-room_img-text {
    margin-top: 15px;
}

.file-layout-div {
    border: 1px solid #E6E6E8;
    border-radius: 5px;
    width: 440px;
    height: 345px;
    margin: 5px auto;
}

.chat-room-next-btn {
    background: #4285F4;
    width: 200px;
    height: 40px;
    border: 0;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    margin: 23px auto;
    cursor: pointer
}
