.signUp-container {
    display: block;
}

.signUp-form {
    width: 540px;
    height: 880px;
    margin: 30px auto;
    border-radius: 5px;
    border: 1px solid #E6E6E8;
}

.logo-div-sign {
    text-align: center;
    margin-top: 40px;
}

.input-div-sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.paru-chat-text {
    font-size: 25px;
    color: #5D78FC;
    text-align: center;
}

.email-input_up, .pw-input_up, .name-input_up, .pw_chk-input_up, .code-input_up {
    width: 450px;
    height: 70px;
    font-size: 14px;
    margin-top: 40px;
    border: 0;
    background: #fff;
    border: 1px solid #E6E6E8;
    outline: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 5px;
}

.email-input_up:focus, .pw-input_up:focus, .name-input_up:focus, .pw_chk-input_up:focus, .code-input_up:focus {
    border: 2px solid #4285F4;
}

.signUp-btn {
    margin: auto;
    width: 450px;
    height: 55px;
    position: relative;
    top: 60px;
    font-size: 16px;
    color: #fff;
    background: #4285F4;
    border: 0;
    border-radius: 5px;
    outline: 0; 
    cursor: pointer;
}

.login-text {
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    margin-top: 130px;
 }

 .login-text:hover {
    color: #4285F4;
 }

 .color-validation {
    color: #E74646;
    position: absolute;
    right: 130px;
    top: 10px;
 }

@media (max-width: 425px) {
    .signUp-form {
        border: 0;
        margin-top: 150px;
    }

    
}