.signUp-container {
    display: flex;
    justify-content: center;
}

.signUp-form {
    display: flex;
    flex-direction: column;
    width: 540px;
    height: 880px;
    border-radius: 5px;
    position: absolute;
    top: 40px;
    border: 1px solid #E6E6E8;
}

.logo-div-sign {
    text-align: center;
    position: relative;
    top: 25px;
}

.paru-chat-text {
    font-size: 25px;
    color: #5D78FC;
    position: relative;
    bottom: 10px;
    right: 3px;
}

.input-div-sign {
    display: flex;
    flex-direction: column;
    margin: auto;
    position: relative;
    bottom: 80px; 
}

.signUp-btn {
    margin: auto;
    width: 450px;
    height: 55px;
    position: relative;
    top: 60px;
    font-size: 14px;
    color: #fff;
    background: #4285F4;
    border: 0;
    border-radius: 5px;
    outline: 0; 
    cursor: pointer;
}

.login-text {
    position: relative;
    font-size: 14px;
    text-align: center;
    top: 130px;
    cursor: pointer;
 }

 .login-text:hover {
    color: #4285F4;
 }

 .no_visible-signUp, .visible-signUp {
    color: #4285F4;
    position: absolute;
    cursor: pointer;
    font-size: 23px;
    right: 25px;
    background: 0;
    top: 340px;
    z-index: 999;
 }

 .no_visible-signUp_chk, .visible-signUp_chk {
    color: #4285F4;
    position: absolute;
    cursor: pointer;
    font-size: 23px;
    right: 25px;
    background: 0;
    top: 470px;
    z-index: 999;
 }

 .color-validation {
    color: #E74646;
 }